.hcard {
  height: 35vw;
  width: 30vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  border-radius: 0.2vw;
  gap: 0.5vw;
  overflow: hidden;
  border: 5px solid #e41b7b;
  position: relative;
}

.imgBox {
  height: 100%;
  width: 100%;
  background: rgb(227, 224, 224);
}
.hcardImage {
  height: 100%;
  width: 100%;
}
.content {
  background: linear-gradient(
    rgba(13, 0, 0, 0),
    rgba(13, 0, 0, 0.49),
    rgba(0, 16, 0, 0.779),
    rgb(0, 0, 0)
  );
  width: 100%;
  height: 25%;
  padding: 1vh;
  color: #e41b7b;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
}
.title {
  font-size: 1.5vw;
}
.description {
  font-size: 1vw;
  padding: 0.5vw;
  font-weight: 250;
}

@media (max-width: 768px) {
  .hcard {
    height: 40vh;
    width: 35vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 0.5vh;
    overflow: hidden;
  }
  .imgBox {
    height: 100%;
    width: 100%;
    background: rgb(227, 224, 224);
  }
  .content {
    padding-bottom: 0.5vh;
  }
  .title {
    font-size: 3vh;
  }
  .description {
    font-size: 2vh;
  }
}
