.tabbar {
  position: fixed;
  bottom: 0;
  background: white;
  width: 100%;
  display: none;
  border-top: 0.5px solid #eaeaec;
  overflow: hidden;
}

@media (max-width: 768px) {
  .tabbar {
    display: flex;
    font-size: 3vh;
    justify-content: space-around;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.04) 3px 5px 0px;
  }

  .bar {
    display: flex;
    width: 100%;
  }

  .block {
    border-right: 0.5px solid gray;
    height: 100%;
    width: 50%;
    padding: 0.5vh;
    transition: 0.2s ease-in-out;
    color: black;
    text-decoration: none;
    justify-content: center;
    display: flex;
    align-items: center;
    position: relative;
    font-size: 1.5rem;
    text-align: center;
    gap: 0.3vh;
    transition: background-color 0.3s;
  }

  .label {
    font-size: 1.5vh;
  }

  .links {
    color: black;
    text-decoration:none;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items:center;
  }

  .block::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    background: crimson;
    border-radius: 50%;
    transform: scale(0);
    opacity: 1;
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
  }

  .block:hover::before {
    transform: scale(2);
    opacity: 0;
  }

  .block:hover {
    color: #e41b7b;
    font-size: 3vh;
  }

  /* SORT CONTAINER */
  .sortContainer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }

  .show {
    opacity: 1;
    visibility: visible;
  }

  .hide {
    opacity: 0;
    visibility: hidden;
  }

  /* BLUR OVERLAY */
  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(0px);
    z-index: 1;
  }

  /* SORT BOX */
  .sortBox {
    width: 100%;
    background: white;
    padding: 2vh;
    position: relative;
    z-index: 2;
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;
  }

  .show .sortBox {
    transform: translateY(0);
  }

  .title {
    font-size: 2.5vh;
    padding: 1vh 2vh;
    border-bottom: 0.5px solid gray;
  }

  .options {
    display: flex;
    flex-direction: row;
    gap: 1vh;
    padding: 2vh;
    font-size: 2vh;
    align-items: center;
  }

  .options h5 {
    font-weight: 300;
  }
}
